body {
  margin: 0;
  background: lightpink;
  font-family: Nunito;
}

.row {
  display: flex;
  flex-direction: row;
}

.row--reversed {
  flex-direction: row-reverse;
}

.row__text-part {
  width: 50%;
  padding: 0 10% 0 10%;

  font-size: 1rem;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-part__header {
  color: white;
  font-size: 24px;
}

.text-part__slash {
  color: hotpink;
}

.image-part{
  width: 50%;
  height: 100%;
  margin: 0;
}

.text-part__lollipop {
  width: 100px;
  height: 100px;
}

@media only screen and (max-width: 770px) {
  .row{
    flex-direction: column-reverse;
  }
  .image-part, .row__text-part{
    width: 100%;
    height: 50%;
  }
  .text-part--brand, .text-part__lollipop{
    display: none;
  }
}
